.button {
    -fx-background-color: #222222;
    -fx-text-fill: white;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 1;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 4, 0, 0, 2);
}

.button:hover {
    -fx-background-color: #333333;
}

.button:target {
    -fx-background-color: #444444;
}

.label {
    -fx-text-fill: white;
}

.text {
    -fx-fill: white;
}


.combo-box{
    -fx-background-color: #222222;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 1;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.combo-box .list-view{
    -fx-border-color: #FFFFFF;
    -fx-border-width: 1;
}

.combo-box-popup .list-cell:selected {
    -fx-background-color: #333333;
    -fx-text-fill: white;
}

.combo-box-popup .list-cell {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: white;
}


.root{
    -fx-background-color: #222222;
}

.progress-bar {
    -fx-background-color: #E0E0E0;
}

.progress-bar .track {
    -fx-background-color: #333333;
    -fx-background-radius: 10;
}

.progress-bar .bar {
    -fx-background-color: #4CAF50;
    -fx-background-radius: 10;
    -fx-background-insets: 0;
}

.etapes{
    -fx-background-color: #333333;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-border-color: #555555;
    -fx-padding: 10;
}
