.button {
    -fx-background-color: #222222;
    -fx-text-fill: white;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 1;
    -fx-border-radius: 20;
    -fx-background-radius: 20;  /* Même valeur que border-radius */
}

.label {
    -fx-text-fill: white;
}

.text {
    -fx-fill: white;
}


.root{
    -fx-background-color: #222222;
}

.progress-bar {
    -fx-background-color: #E0E0E0;
}

.progress-bar .track {
    -fx-background-color: #E0E0E0;
    -fx-background-radius: 10;
}

.progress-bar .bar {
    -fx-background-color: #4CAF50;
    -fx-background-radius: 10;
    -fx-background-insets: 0;
}
