.button {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: black;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-radius: 20;
    -fx-background-radius: 20;  /* Même valeur que border-radius */
}

.button:hover {
    -fx-background-color: #EEEEEE;
}

.button:target {
    -fx-background-color: #DDDDDD;
}

.root{
    -fx-background-color: #FFFFFF;
}

.label {
    -fx-text-fill: black;
}

.text {
    -fx-fill: black;
}

.progress-bar {
    -fx-background-color: #E0E0E0;
}

.progress-bar .track {
    -fx-background-color: #E0E0E0;
    -fx-background-radius: 10;
}

.progress-bar .bar {
    -fx-background-color: #4CAF50;
    -fx-background-radius: 10;
    -fx-background-insets: 0;
}

.etapes{
    -fx-background-color: #A3A3A3;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 5;
}
